In [59]:
num = 39
# print(str(num)[-1])
# num = str(num)
arr = [i for i in str(num)[::-1]]
print(arr)

['9', '3']

In [60]:
for i in range(len(arr)):
    print(int(arr[i]) * 10 ** i)

9
30

In [44]:
def num_split(num):
    arr = [i for i in reversed(str(num))]
    print(arr)
    new_arr = [int(arr[i]) * 10 ** i for i in range(len(arr))]
    print(new_arr)
    return new_arr[::-1]

In [45]:
print(num_split(345))

[300, 40, 5]

In [52]:
num = 39
num = str(num)
print(type(num))
num = num[::-1]

<class 'str'>

In [53]:
[i for i in num]

['9', '3']